<div class="py-8 max-w-screen-xl">
  <div class="pb-4">
    <%= link "← Back to All Potions", to: Routes.potion_path(@conn, :index), class: "bg-purple-800 hover:bg-purple-900 text-white py-2 px-4 rounded shadow" %>
  </div>
  <div class="flex flex-col items-center p-4 shadow border w-72">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-32 h-32">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 3.104v5.714a2.25 2.25 0 01-.659 1.591L5 14.5M9.75 3.104c-.251.023-.501.05-.75.082m.75-.082a24.301 24.301 0 014.5 0m0 0v5.714c0 .597.237 1.17.659 1.591L19.8 15.3M14.25 3.104c.251.023.501.05.75.082M19.8 15.3l-1.57.393A9.065 9.065 0 0112 15a9.065 9.065 0 00-6.23-.693L5 14.5m14.8.8l1.402 1.402c1.232 1.232.65 3.318-1.067 3.611A48.309 48.309 0 0112 21c-2.773 0-5.491-.235-8.135-.687-1.718-.293-2.3-2.379-1.067-3.61L5 14.5" />
    </svg>
    <div>
      <div class="text-3xl"><%= @potion.name %></div>
      <div class="pt-4"><%= @potion.milliliters %> ml</div>
      <div>$<%=print_cents(@potion.price) %></div>
    </div>
    <div class="pt-4 w-full">
      Customer Reviews:
      <%= for review <- @reviews do %>
        <div class="bg-purple-100 border mt-4 p-1">
          <div class="font-bold text-blue-800 pb-2"><%= link(review.user.email, to: Routes.user_path(@conn, :show, review.user.id)) %></div>
          <div><%= raw review.body %></div>
          <div>Rating - <%= review.score %>/5</div>
          <br>
        </div>
      <% end %>
    </div>
    <div class="pt-12 w-full">
      Submit Your Review:
      <%= form_for @changeset, Routes.potion_path(@conn, :create_review, @potion.id), fn f -> %>
        <%= if @changeset.action do %>
        <div class="alert alert-danger">
          <p>Error. Please check the errors below.</p>
        </div>
        <% end %>

        <div class="pb-2">
          <%= textarea f, :body, required: true, class: "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" %>
          <%= error_tag f, :body%>
        </div>

        5 is best, 1 is worst
        <div class="pt-2 pb-2">
          <%= select f, :score, 1..5, selected: 5 %>
          <%= error_tag f, :score %>
        </div>

        <%= hidden_input f, :email, value: @conn.assigns.current_user.email %>

       <div>
        <%= submit "Submit Review", class: "px-6 py-2 text-white bg-purple-800 border rounded hover:bg-purple-900" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
